# Домашнее задание 2. По чуть-чуть про pandas, sklearn, kNN

В этом задании вы в миниатюре пройдете цикл решения задачи анализа данных от предобработки данных до построения модели и оценки качества. Вы будете решать задачу кредитного скоринга (вернет клиент кредит или нет) на примере небольшой выборки данных. 

В процессе решения задания вы поближе познакомитесь с библиотеками pandas, sklearn и тем, как работают классы в python, а также немного вспомните numpy, самостоятельно реализовав 1NN (это очень просто, потому что сам алгоритм очень простой).

Все задачи нужно выполнять исключительно самостоятельно! Если что-то непонятно, задавайте вопросы в чате. При обнаружении списывания ноль за задание ставится и тому, кто списал, и тому, у кого списали.

Также во всем задании запрещено использование циклов (исключение - второе бонусное задание)! Все операции необходимо выполнять средствами numpy, pandas и sklearn.

Разделение выборки на обучение и контроль производится случайно (если только вы не указали конкретный random_state), поэтому результаты при разных запусках ноутбука могут получаться разные.

Считывание данных уже сделано:

In [261]:
import numpy as np
import pandas as pd

In [262]:
tab = pd.read_csv("https://raw.githubusercontent.com/nadiinchi/iad2019/master/materials/scoring.csv")

Выведите первые несколько строчек датасета, посмотрите названия колонок:

In [263]:
tab.head(5)

,account,duration,credit_history,purpose,amount,savings,employment,installment_rate,guarantors,residence,...,job,maintenance_people,telephone,foreign,real_estate,life_insurance,car,housing_rent,sex,target
0,0,18,4,furniture,3780,1,1,3,1,2,...,3,1,1,yes,0,0,1,0,male,1
1,1,24,2,car_new,1246,1,1,4,1,2,...,1,1,0,yes,1,0,0,0,male,0
2,0,15,2,car_used,3029,1,3,2,1,2,...,2,1,0,yes,0,0,1,0,male,1
3,0,36,3,television,4463,1,2,4,1,2,...,3,1,1,yes,0,0,1,0,male,0
4,-1,27,2,television,3416,1,2,3,1,2,...,3,1,0,yes,0,0,1,0,male,1

Сначала несколько вопросов просто так:
    
 __[0.5 балла]__ Какой процент клиентов моложе 30 лет (колонка age) снимает жилье (колонка housing_rent)? А какой процент клиентов старше 40 лет снимает жилье?

In [264]:
tabi = tab[tab.age <30]# выделяем массив клиентов моложе 30

In [265]:
tip = tabi.shape[0]#находим число клиентов моложе 30

In [266]:
tibi = tabi[tabi.housing_rent == 1]# выделяем из массива клиентов моложе 30 массив из тех, кто снимает жилье

In [267]:
pip = tibi.shape[0]#находим число клиентов моложе 30 и снимающих жилье

In [268]:
share = pip/tip * 100# находим процент клиентов моложе 30 снимающих жилье как отношение числа снимающих жилье ко всем клиентам моложе 30
share

31.601731601731604

In [269]:
tubi = tab[tab.age > 40]# выделяем массив клиентов старше 40 
tin = tubi.shape[0]# находим число клиентов старше 40

In [270]:
tybi = tubi[tubi.housing_rent == 1]# выделяем массив клиентов старше 40, которые снимают жилье
nim = tybi.shape[0]#находим число клиентов, которые старше 40 и снимают жилье

In [271]:
shhare = nim/tin * 100#находим процент клиентов старше 40 снимающих жилье как отношение числа снимающих жилье ко всем клиентам старше 40
shhare

9.67741935483871

 __[0.5 балла]__ У скольких иностранцев (foreign == 1) число кредитов (credits_number) больше 2?

In [272]:
foreigns = tab[tab.foreign == 'yes']# выделяем массив клиентов-иностранцев
forcred = foreigns[foreigns.credits_number > 2]#выделяем массив клиентов-иностранцев с числом кредитов больше 2
forcred.shape[0]#находим число иностранцев, у которых более 2 кредитов

19

 __[0.5 балла]__ Выведите колонки job, life_insurance и guarantors для клиентов с номерами 105, 158, 306 и 336 одной таблицей (воспользуйтесь индексацией):

In [273]:
tab1 = tab[['job', 'life_insurance', 'guarantors']]#выделяем колонки job, life_insurance и guarantors для всех клиентов

In [274]:
piti = tab1.T# меняем местами индексы и наименования столбцов массива

In [275]:
piri = piti[[105, 158, 306, 336]]# выделяем колонки 105, 158, 306, 336 у модифицированного массива

In [276]:
pili = piri.T# снова меняем местами индексы и наименования столбцов
pili

     job  life_insurance  guarantors
105    2               1           1
158    2               0           1
306    3               0           0
336    2               1           1

 __[0.5 балла]__ Выведите среднюю сумму кредита (колонка amount) в каждой категории (колонка purpose), воспользовавшись методом groupby:

In [277]:
tab2 = tab.groupby('purpose')['amount'].mean()# группируем элементы массива по purpose, выделяем сгруппированный массив по колонке amount и находим среднее

In [278]:
tab2

purpose
business               4405.098361
car_new                3156.796178
car_used               5690.403509
domestic_appliances    1307.875000
education              3276.258065
furniture              3312.677966
others                 8681.700000
repairs                2792.769231
retraining             1156.000000
television             2554.237762
Name: amount, dtype: float64

Теперь по существу: нужно подготовить данные к построению модели.

 __[0.5 балла]__ Как вы видите, не все данные являются числовыми. С признаком purpose мы работать не будем - удалите его из датафрейма:

In [279]:
tab.pop('purpose')#удаляем purpose из датафрейма

0                furniture
1                  car_new
2                 car_used
3               television
4               television
5                  car_new
6                  car_new
7                  car_new
8                furniture
9                  car_new
10                business
11              television
12              television
13                  others
14               education
15                business
16                business
17               furniture
18               furniture
19              television
20                business
21              television
22               furniture
23                business
24               education
25                business
26                 car_new
27               furniture
28              television
29               furniture
              ...
570              furniture
571             television
572             television
573              furniture
574              furniture
575               business
576                 others
577               business
578             television
579               business
580             television
581              furniture
582             television
583                car_new
584               car_used
585              furniture
586             television
587                car_new
588                car_new
589               business
590              furniture
591               car_used
592    domestic_appliances
593                car_new
594               business
595              furniture
596                car_new
597             television
598               car_used
599              furniture
Name: purpose, Length: 600, dtype: object

In [280]:
tab.head(4)

,account,duration,credit_history,amount,savings,employment,installment_rate,guarantors,residence,age,...,job,maintenance_people,telephone,foreign,real_estate,life_insurance,car,housing_rent,sex,target
0,0,18,4,3780,1,1,3,1,2,35,...,3,1,1,yes,0,0,1,0,male,1
1,1,24,2,1246,1,1,4,1,2,23,...,1,1,0,yes,1,0,0,0,male,0
2,0,15,2,3029,1,3,2,1,2,33,...,2,1,0,yes,0,0,1,0,male,1
3,0,36,3,4463,1,2,4,1,2,26,...,3,1,1,yes,0,0,1,0,male,0

 __[0.5 балла]__ Необходимо перекодировать оставшиеся строковые значения в числа (закодировать пол female->0 и male->1 и колонку foreign числами yes->1 и no->0). Сделайте это с помощью pandas (без циклов, конечно же):

In [281]:
sex = tab['sex'].map({'male':1, 'female':0})#создаем столбец, в котором 1 соответстует male, а 0 - female

In [282]:
tab.pop('sex')# удаляем столбец sex с словесными значениями

0        male
1        male
2        male
3        male
4        male
5        male
6      female
7      female
8      female
9        male
10     female
11       male
12     female
13       male
14       male
15       male
16     female
17     female
18       male
19     female
20       male
21       male
22       male
23       male
24       male
25       male
26       male
27     female
28       male
29     female
        ...
570      male
571      male
572    female
573      male
574      male
575      male
576    female
577      male
578      male
579      male
580    female
581      male
582    female
583      male
584    female
585      male
586      male
587      male
588      male
589      male
590    female
591      male
592      male
593    female
594      male
595    female
596    female
597      male
598    female
599      male
Name: sex, Length: 600, dtype: object

In [283]:
tab.insert(19, 'sex', sex)#вставляем созданный нами столбец из 0 и 1 вместо удаленного столбца sex

In [284]:
tab.head(2)

,account,duration,credit_history,amount,savings,employment,installment_rate,guarantors,residence,age,...,job,maintenance_people,telephone,foreign,real_estate,life_insurance,car,housing_rent,sex,target
0,0,18,4,3780,1,1,3,1,2,35,...,3,1,1,yes,0,0,1,0,1,1
1,1,24,2,1246,1,1,4,1,2,23,...,1,1,0,yes,1,0,0,0,1,0

In [285]:
foreign = tab['foreign'].map({'yes':1, 'no':0})#создаем столбец, в котором 1 соответстует yes, а 0 - no

In [286]:
tab.pop('foreign')#удаляем столбец foreign со словесными значениями

0      yes
1      yes
2      yes
3      yes
4      yes
5      yes
6      yes
7      yes
8      yes
9      yes
10     yes
11     yes
12     yes
13     yes
14     yes
15     yes
16     yes
17     yes
18     yes
19     yes
20     yes
21     yes
22     yes
23     yes
24     yes
25     yes
26     yes
27      no
28     yes
29     yes
      ...
570    yes
571    yes
572    yes
573    yes
574    yes
575    yes
576    yes
577    yes
578    yes
579    yes
580    yes
581    yes
582    yes
583    yes
584    yes
585    yes
586    yes
587    yes
588    yes
589    yes
590    yes
591    yes
592    yes
593    yes
594    yes
595    yes
596    yes
597    yes
598    yes
599    yes
Name: foreign, Length: 600, dtype: object

In [287]:
tab.insert(14, 'foreign', foreign)#вставляем столбец из 0 и 1 вместо столбца со словесными значениями

In [288]:
tab.head(6)

,account,duration,credit_history,amount,savings,employment,installment_rate,guarantors,residence,age,...,job,maintenance_people,telephone,foreign,real_estate,life_insurance,car,housing_rent,sex,target
0,0,18,4,3780,1,1,3,1,2,35,...,3,1,1,1,0,0,1,0,1,1
1,1,24,2,1246,1,1,4,1,2,23,...,1,1,0,1,1,0,0,0,1,0
2,0,15,2,3029,1,3,2,1,2,33,...,2,1,0,1,0,0,1,0,1,1
3,0,36,3,4463,1,2,4,1,2,26,...,3,1,1,1,0,0,1,0,1,0
4,-1,27,2,3416,1,2,3,1,2,27,...,3,1,0,1,0,0,1,0,1,1
5,-1,24,3,1333,1,0,4,1,2,43,...,2,2,0,1,1,0,0,0,1,0

 __[0.5 балла]__ Целевая переменная хранится в колонке target (последняя колонка). Являются ли классы сбалансированными (одинаковое число 0 и 1)? Воспользуйтесь методом [value_counts](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.value_counts.html).

In [289]:
tab['target'].value_counts(normalize=True) #являются сбалансированными

1    0.5
0    0.5
Name: target, dtype: float64

Выведем статистику датасета:

In [290]:
tab.describe()

,account,duration,credit_history,amount,savings,employment,installment_rate,guarantors,residence,age,...,job,maintenance_people,telephone,foreign,real_estate,life_insurance,car,housing_rent,sex,target
count,600.000000,600.000000,600.000000,600.000000,600.000000,600.000000,600.000000,600.000000,600.000000,600.000000,...,600.000000,600.000000,600.000000,600.000000,600.000000,600.000000,600.000000,600.000000,600.000000,600.000000
mean,0.083333,21.878333,2.410000,3470.491667,1.200000,2.348333,2.988333,0.901667,2.831667,35.181667,...,1.906667,1.150000,0.391667,0.965000,0.268333,0.205000,0.343333,0.186667,0.598333,0.500000
std,0.915306,12.749161,1.098747,3090.052187,0.924531,1.208069,1.131517,0.298013,1.103945,11.416182,...,0.662334,0.357369,0.488530,0.183933,0.443462,0.404038,0.475218,0.389969,0.490644,0.500417
min,-1.000000,4.000000,0.000000,250.000000,0.000000,0.000000,1.000000,0.000000,1.000000,19.000000,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,-1.000000,12.000000,2.000000,1363.250000,1.000000,2.000000,2.000000,1.000000,2.000000,26.000000,...,2.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,18.000000,2.000000,2347.000000,1.000000,2.000000,3.000000,1.000000,3.000000,33.000000,...,2.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.500000
75%,1.000000,27.000000,4.000000,4318.750000,1.000000,3.000000,4.000000,1.000000,4.000000,41.000000,...,2.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000,1.000000
max,2.000000,72.000000,4.000000,18424.000000,4.000000,4.000000,4.000000,1.000000,4.000000,75.000000,...,3.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

 __[0.5 балла]__ Проанализируйте таблицу. Есть ли признаки с пропущенными значениями? (ответ необходимо писать в этой же ячейке; к ответу сделайте пояснение)

In [291]:
#нет, так как иначе выдавалсь бы ошибка в среднем / стандартном отклонении.

 __[0.5 балла]__ Запишите в переменную X матрицу объекты-признаки (выделите все колонки признаков, кроме target), а в переменную y - вектор правильных ответов (колонка target). К обоим объектам припишите .target, чтобы "достать" numpy-матрицу из датафрейма: далее мы везде будем работать с numpy-матрицами.

In [292]:
tabd = tab[tab.columns[:-1]]#выделяем массив без колонки target, который будет соответствовать матрице объекты-признаки

In [293]:
tabd.head(5)

,account,duration,credit_history,amount,savings,employment,installment_rate,guarantors,residence,age,credits_number,job,maintenance_people,telephone,foreign,real_estate,life_insurance,car,housing_rent,sex
0,0,18,4,3780,1,1,3,1,2,35,2,3,1,1,1,0,0,1,0,1
1,1,24,2,1246,1,1,4,1,2,23,1,1,1,0,1,1,0,0,0,1
2,0,15,2,3029,1,3,2,1,2,33,1,2,1,0,1,0,0,1,0,1
3,0,36,3,4463,1,2,4,1,2,26,2,3,1,1,1,0,0,1,0,1
4,-1,27,2,3416,1,2,3,1,2,27,1,3,1,0,1,0,0,1,0,1

In [294]:
X = tabd.values# из датафрейма создаем матрицу объекты-признаки

In [295]:
y = tab['target'].values#из столбца target создаем вектор ответов

 __[0.5 балла]__ С помощью sklearn-функции train_test_split разделите данные на обучение и контроль (пропорцию оставьте по умолчанию). Ячейка ?train_test_split покажет документацию функции (с примерами использования), также можно загуглить документацию.

In [296]:
from sklearn.model_selection import train_test_split

In [297]:
?train_test_split

In [298]:
X_train, X_test, y_train, y_test = train_test_split(X, y)#делим исходные данные на обучающую и тестирующую выборки с соответствующими ответами

Выведите форму (shape) обучающей и контрольной выборок:

In [299]:
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)#находим форму обучающей и контрольной выборок

(450, 20) (150, 20) (450,) (150,)

 __[0.5 балла]__ Как вы видели выше, все колонки имеют разный масштаб, это будет мешать нам при запуске метрического классификатора. Отнормируйте данные с помощью StandardScaler (интерфейс такой же, как мы изучали на семинаре):

In [300]:
from sklearn.preprocessing import StandardScaler

In [301]:
norm = StandardScaler()#вызываем объект StandardScaler

In [302]:
norm.fit(X_train)#запоминаем обучающую выборку в качестве основы для будущей нормировки

C:\Users\User\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [303]:
X_tr_norm = norm.transform(X_train)#нормируем обучающую выборку
X_te_norm = norm.transform(X_test)#нормируем тестирующую выборку

C:\Users\User\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
C:\Users\User\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

 __[0.5 балла]__ Теперь обучите классификатор 1-NN из sklearn на обучающей выборке, сделайте предсказания отдельно для обучающей и для контрольной выборки, на каждой выборке посчитайте точность (accuracy) с помощью accuracy_score. При создании объекта KNeighborsClassifier необходимо указать число соседей 1 (по умолчанию оно больше). 

Интерфейс KNeighborsClassifier такой же, как мы изучали на семинаре, а accuracy-score принимает на вход вектор предсказаний и вектор правильных ответов.

In [304]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

In [305]:
kneib = KNeighborsClassifier(n_neighbors=1)#вызываем метод кнн для одного соседа

In [306]:
kneib.fit(X_tr_norm, y_train)# запоминаем обучающую выборку и ответы к ней

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=1, p=2,
           weights='uniform')

In [307]:
pred = kneib.predict(X_te_norm)# создаем предсказание для тестирующей выборки
pred

array([1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1,
       1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0,
       0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0], dtype=int64)

In [308]:
accuracy_score(y_test, pred)#вычисляем точность предсказания для тестовой выборки

0.5866666666666667

 __[4 балла,  включая my_accuracy и тестирование реализации]__ Наконец, реализуйте свой 1NN, воспользовавшись шаблоном ниже. Ваш класс должен уметь работать в двух режимах: в евклидовой метрикой и с манхэттанской метрикой (формулы метрик ниже). Напоминаем принцип работы 1NN: чтобы сделать предсказание для объекта, он выбирает ближайший объект из обучения и возвращает такой же класс, как у него.
* в методе \__init\__ необходимо запомнить, с какой метрикой мы работаем
* в методе fit нужно запомнить выборку - больше при обучении kNN ничего делать не нужно
* в методе predict нужно сделать три шага:
    * сначала построить матрицу расстояний между контрольными и обучающими объектами. Это умеет автоматически делать функция cdist, но за ее использование штраф 1.5 балла - лучше посчитать матрицу расстояний самостоятельно с помощью "чистого" numpy
    * затем взять argmin по строкам - получится вектор индексов ближайших обучающих объектов для каждого контрольного объекта
    * выбрать компоненты y_train, отвечающие компонентам вектора индексов. Иными словами, вернуть те же метки классов, что у ближайших обучающих объектов.
    
Формулы метрик (расстояний):
* евклидова: $$\rho(x, y) = \sqrt{\sum_{i=1}^d (x_i - y_i)^2}$$
* манхэттанская: $$\rho(x, y) = \sum_{i=1}^d |x_i - y_i|$$

Модуль в numpy вычисляется как np.abs.

In [309]:
from scipy.spatial.distance import cdist # за использование этой функции штраф 1.5 балла :)

In [310]:
class MyKNN:
    def __init__(self, metric="euclid"):
        self.metric = metric#запоминаем метрику, с которой будем работать
        
    def fit(self, X_tr, y_tr):
        self.x = X_tr#запоминаем обучающую выборку
        self.y = y_tr# запоминаем ответы обучающей выборки
    def predict(self, X_te):
        try_shape = int(self.x.shape[0])#находим число объектов обучающей выборки
        test_shape = int(X_te.shape[0])#находим число объектов тестирующей выборки
        test_matrix = np.repeat(X_te, try_shape, axis=0)#создаем матрицу, где каждая строка тестирующей выборки повторяется столько раз, сколько элементов в обучающей выборке
        try_matrix = np.tile(self.x, (test_shape, 1))# создаем матрицу, где матрица обучающей выборки повторяется столько раз, сколько элементов в тестирующей выборке
        if self.metric == 'euclid':# создаем матрицу расстояний с евклидовой метрикой
            distance_1 = test_matrix - try_matrix #находим для каждого объекта тестирующей выборки разницу между значениями для одинаковых признаков с каждым объектом из обучающей выборки 
            distance_2 = distance_1 ** 2#находим квадраты разниц между значениями для одинаковых признаков
            distance_3 = np.sqrt(np.sum(distance_2, axis=1).reshape(test_shape, try_shape))#находим корень из суммы квадратов разниц между значениями для одинаковых признаков у каждого объекта тестирующей выборки с каждым объектом обучающей выборки,матрица имеет такой размер, что по строкам - объекты тестирующей выборки, а столбцы соответствуют объектам обучающей
        elif self.metric == 'manhattan':# создаем матрицу расстояний с манхэттанской метрикой
            distance_1 = test_matrix - try_matrix#
            distance_2 = np.abs(distance_1)# находим модули разниц между значениями для одинаковых признаков
            distance_3 = np.sum(distance_2, axis=1).reshape(test_shape, try_shape)#
        min_distance = np.argmin(distance_3, axis=1)#находим позиции объектов обучающей выборки, которым соответствуют минимальные расстояния до объектов тестирующей выборки
        pred = self.y[min_distance]# находим ответы, соответствующие ближайшим соседям
        return pred

Реализуйте также функцию вычисления точности - доли правильных ответов:

In [311]:
def my_accuracy(y_pred, y_test):
    a = np.sum(y_pred == y_test)# находим число совпадений в предсказании и в известных ответах к тестирующей выборке
    k = y_pred.shape[0]#находим число ответов к тестирующей выборке
    return a / k #находим долю ответов, которые были верно предсказаны

Пришло время запустить ваш классификатор и вычислить точность с помощью вашей функции. Обучите классификатор, сделайте предсказания для обучающей и контрольной выборок и посчитайте точность в обоих случаях. Сделайте это два раза - ддя евклидовой и манхэттанской метрик. Для евклидовой метрики цифры должны получиться точно такие же, как для реализации sklearn.

In [312]:
 prob = MyKNN(metric='euclid') #вызываю кнн с евклидовой метрикой

In [313]:
prob.fit(X_tr_norm, y_train)#запоминаем обучающую выборку и ответы к ней

In [314]:
pred = prob.predict(X_te_norm)#выводим предсказание для тестирующей выборки
pred

array([1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1,
       1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0,
       0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0], dtype=int64)

In [315]:
my_accuracy(pred, y_test)#находим точность предсказания

0.5866666666666667

In [316]:
secprob = MyKNN(metric='manhattan')#вызываем кнн с манхэттанской метрикой

In [317]:
secprob.fit(X_tr_norm, y_train)#запоминаем обучающую выборку и ответы к ней

In [318]:
secpred = secprob.predict(X_te_norm)#вызываем предсказание для тестовой выборки
secpred

array([1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1,
       1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0,
       0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1,
       1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0], dtype=int64)

In [319]:
my_accuracy(secpred, y_test)#вычисляем точность

0.5933333333333334

### Бонусные задания

#### Бонусное задание 1: реализация kNN (до 3 баллов)
Добавьте в ваш KNN параметр k (число соседей) и реализуйте k-NN, который возвращает самый популярный класс среди k ближайших соседей объекта. Если число ближайших объектов для разных классов совпадает, возвращайте класс с меньшим номером. За реализацию, работающую для любого числа классов - 3 балла (посмотрите функцию np.bincount), за реализацию, работающую только для двух классов - 2 балла. Не забудьте протестировать свой алгоритм :) В этом задании циклы использовать нельзя!

In [320]:
class KamiKnn:
    def __init__(self, n_neighbours=int):#инициализируем класс с n_neighbours равным числу соседей, по которым будет формироваться предсказание 
        self.k = n_neighbours #запоминаем число ближайших соседей
        
    def fit(self, X_tr, y_tr):#запоминаем обучающую выборку и ответы к ней
        self.x = X_tr
        self.y = y_tr
        
    def predict(self, X_te):
        try_shape = int(self.x.shape[0])# находим число объектов обучающей выборки
        test_shape = int(X_te.shape[0])# находим число объектов тестирующей выборки
        test_matrix = np.repeat(X_te, try_shape, axis=0)# создаем матрицу, где каждая строка тестирующей выборки повторяется столько раз, сколько элементов в обучающей выборке
        try_matrix = np.tile(self.x, (test_shape, 1))#создаем матрицу, где матрица обучающей выборки повторяется столько раз, сколько элементов в тестирующей выборке
        distance_1 = test_matrix - try_matrix#находим для каждого объекта тестирующей выборки разницу между значениями для одинаковых признаков с каждым объектом из обучающей выборки
        distance_2 = distance_1 ** 2#находим квадраты разниц между значениями для одинаковых признаков
        distance_3 = np.sqrt(np.sum(distance_2, axis=1).reshape(test_shape, try_shape))# находим корень из суммы квадратов разниц между значениями для одинаковых признаков у каждого объекта тестирующей выборки с каждым объектом обучающей выборки,матрица имеет такой размер, что по строкам - объекты тестирующей выборки, а столбцы соответствуют объектам обучающей
        helpy_1 = np.argsort(distance_3, axis=1) #для каждого объекта тестирующей выборки находим последовательность позиций элементов, что это соответствует расположению объектов обучающей выборки по возрастанию их расстояний до объектов тестирубщей выборки
        helpy_2 = helpy_1[:, :self.k]# выделяем необходимое число ближаших соседей из обучающей выборки для каждого объекта тестирующей выборки 
        helpy_3 = self.y[helpy_2]#находим ответы для всех ближайших соседей для каждого объекта тестирующей выборки
        num = np.max(helpy_3)#находим максимальное значение ответа среди всех соседей всех объектов тестирующей выборки
        fin_1 = np.apply_along_axis(np.bincount, 1, helpy_3, None, num + 1)# применяем к каждой строке матрицы ответов ближайших соседей функцию np.bincount с тем, чтобы найти количество одинаковых ответов в каждой строке для каждого ответа  
        pred = np.argmax(fin_1, axis = 1)#находим позиции, на которых стоит максимальное количество одинаковых ответов, это будет соответствовать предсказанию, т.к. эти позиции есть не что иное как значения ответов, которых больше всего в каждой строке матрицы ответов ближайших соседей
        return pred
    
    def my_accuracy(y_pred, y_test):# вычисляем точность как отношение правильных предсказаний к общему числу ответов
        a = np.sum(y_pred == y_test)#
        k = y_pred.shape[0]#
        return a / k#

In [321]:
nut = KamiKnn(n_neighbours=10) #вызываем метод кнн

In [322]:
nut.fit(X_tr_norm, y_train)#запоминаем обучающую выборку и ответы к ней

In [323]:
ko = nut.predict(X_te_norm)#вызываем предсказание для тестирующей выборки

In [324]:
my_accuracy(ko, y_test)#вычисляем точность предсказания

0.6

#### Бонусное задание 2: реализация CentroidClassifier (3 балла)
Реализуйте другой метрический классификатор - центроидный. Он работает чуть-чуть сложнее kNN, но зато гораздо эффективнее: на этапе обучения классификатор запоминает центр каждого класса ("средний" объект класса). На этапе предсказания классификатор возвращает тот класс, чей центр ближе. Не забудьте протестировать свой алгоритм :) Метрика - евклидова, для вычисления центра класса нужно найти среднее каждого признака по объектам этого класса. В этом задании можно использовать 1 цикл - цикл по классам при подсчете центров классов.

In [325]:
class MyCentroid:
    def fit(self, X_tr, y_tr):
        self.x = X_tr # запоминаем обучающую выборку
        self.y = y_tr # и ответы к ней
    def predict(self, X_te):
        git = self.y.T # транспонируем ответы к обучающей выборке, чтобы получить строку
        bit = np.bincount(git) # получаем массив, где для каждого класса(чье значение соответствует номеру строки в этом массиве) посчитано число элементов этого класса в обучающей выборке
        lama = np.nonzero(bit) # получаем кортеж, первым элементом которого является массив из численных значений классов
        gi = lama[0].shape[0] #число классов у объектов обучающей выборки
        di = X_te.shape[0] #число объектов тестовой выборки
        lit = bit[lama] #массив из чисел, которые соответствуют количеству объектов данного класса в обучающей выборке
        hi = self.y.argsort(axis=0) #массив из индексов, последовательность которых отсортировала бы массив ответов обучающей выборки(сделано для того, чтобы разделить объекты из разных классов)
        hii = self.x[hi] #массив, отсортированный по классам
        X_r = hii[:lit[0]] #массив объектов класса, которому соответствует наименьшее числовое значение
        w = X_r.shape[0] #число объектов данного класса в обучающей выборке
        centres = np.sum(X_r, axis=0) / w #массив из признаков центра данного класса
        for i in range(1, gi): # цикл для нахождения центров остальных классов
            s = lit[i] # число объектов нового класса в обучающей выборке (этому классу соответствует большее число)
            c = lit[i - 1] # число объектов старого класса в обучающей выборке
            X_w = hii[c:s + c] #срез объектов данного класса из массива объектов обучающей выборки
            a = X_w.shape[0] # число объектов данного класса в обучающей выборке
            top = np.sum(X_w, axis=0) / a #массив из признаков центра данного класса
            centres = np.vstack((centres, top)) #добавляем строку признаков центров нового класса в массив с признаками предыдущих классов
        hippi = np.repeat(X_te, gi, axis=0) #создаем матрицу, где каждая строка, соответствующая объекту тестовой выборки повторяется столько раз, сколько есть классов
        dippi = np.tile(fine, (di, 1)) #создаем матрицу, где матрица из признаков центров классов повторяется столько раз, сколько объектов в тестовой выборке
        sippi = hippi - dippi # находим расстояния между одинаковыми признаками для каждого объекта тестовой выборки и центра каждого класса
        skip = sippi ** 2 # находим квадраты подсчитанных расстояний
        kip = np.sqrt(np.sum(skip, axis=1).reshape(di, gi)) # находим корни из суммы квадратов расстояний и создаем массива где строка соответствует объекту тестовой выборки, а столбец - центру класса
        prean = np.argmin(kip, axis=1) #находим позицию того класса,центр которого находится ближе всего к объекту тестовой выборки (для каждого объекта)
        derp = lama[0][prean] #находим классы и соответствующие им числа
        return derp #возвращаем массив ответов-классов

In [326]:
bor = MyCentroid() #вызываем метод 
bor.fit(X_tr_norm, y_train) #запоминаем обучающую выборку и ответы к ней
dumb = bor.predict(X_te_norm) #вызываем предсказание

In [327]:
dumb

array([0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0,
       0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0,
       1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1,
       1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0,
       1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1], dtype=int64)

In [328]:
my_accuracy(dumb, y_test) #вычисляем точность

0.52